.carousel{
    display: flex;
    
    justify-content: center;
}
.carousel .slide{
    height: 35vh;
}
.carousel .slide img{
    height: 100%;
}
.carousel .thumb.selected{
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}
